.dashboard {
    width: 100%;
    height: 100vh;
    background: var(--background);
    display: flex;
    position: relative;
}

.sidebar {
    width: 18%;
    height: calc(100% - 80px);
    overflow: hidden;
    min-width: 240px;
    /* background-color: rgb(2550, 255, 255, .01); */
    /* box-shadow: 1px 0 1px rgb(255, 255, 255, .05); */
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
}

.sidebar-logo {
    color: var(--primary-color);
    font-size: 1.18rem;
    font-weight: 600;
    padding-left: 28px;
}

.sidebar-cnt {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.sidebar-group > span:first-child {
    font-size: clamp(.6rem, .88vw, .72rem);
    padding-left: 28px;
}

.sidebar-group-main {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    color: rgba(255, 255, 255, 0.838);
    font-size: clamp(.66rem, .92vw, .8rem);
}

.sidebar-item, .sidebar-selected-item {
    width: 100%;
    position: relative;
    padding: 12px 28px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.sidebar-item span, .sidebar-selected-item span {
    display: flex;
}


.sidebar-selected-indicator {
    position: absolute;
    left: 0;
    height: 100%;
    width: 40px;
    display: flex;
}

.sidebar-selected-indicator > div {
    height: 100%;
}

.sidebar-selected-indicator > div:first-child {
    background-color: var(--primary-color);
    width: 10%;
}

.sidebar-selected-indicator > div:last-child {
    width: 90%;
    background: linear-gradient(90deg, rgb(232, 71, 17, .6) , transparent 60%);
}

.sidebar-selected-item {
    color: var(--primary-color);
}

.playlist-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.dashboard-cnt {
    width: 82%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.topbar-search {
    width: 60%;
    position: relative;
}

.topbar-search > input {
    width: 100%;
    border: none;
    background-color: rgb(60, 60, 60, .8);
    padding: 12px 36px;
    border-radius: 4px;
    color: rgb(227, 227, 227);
    outline: none;
}

.topbar-search-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    translate: 0 -50%;
    display: flex;
    color: rgb(159, 158, 158);
    font-size: .8rem;
    cursor: pointer;
}

.topbar-user {
    width: fit-content;
    padding-right: 16px;
    border-radius: 32px;
    display: flex;
    background-color: rgba(159, 158, 158, 0.098);
    color: white;
    font-size: .68rem;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.topbar-user > div:first-child {
    width: 36px;
    height: 36px;
    background-color: rgb(164, 164, 164);
    border-radius: 50%;
}

.dashboard-main {
    width: 100%;
    height: calc(100% - 120px);
    padding: 20px 12px;
}

.player-display {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 80px;
    box-shadow: 0 1px 2px rgb(255, 255, 255, .4);
    border-top: 1px solid rgb(80, 80, 80, .1);
    display: flex;
    align-items: center;
    padding: 0 36px;
    justify-content: space-between;
}

.player-display > div { 
    /* background-color: red; */
}

.player-display > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.player-display > div:first-child > span:first-child {
    font-size: .88rem;
    color: white;
}

.player-display > div:first-child > span:last-child {
    font-size: .72rem;
}

.player-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 68%;
    justify-content: center;
    color: white;
    gap: 4px;
}


.player-controls > div:first-child {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.6rem;

    span {
        display: flex;
        cursor: pointer;
    }
}

.player-controls > div:nth-child(2) {
    display: flex;
    width: 80%;
    gap: 8px;
    font-size: .6rem;
    color: rgb(159, 158, 158);
    align-items: center;
}

.player-controls-track {
    width: 100%;
    height: 2px;
    background-color: rgb(158, 158, 158, .5);
    border-radius: 12px;
    position: relative;
}

#player-controls-indicator {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
    left: 40%;
    top: 50%;
    translate: -50% -50%;
    cursor: pointer;
}

#player-controls-played {
    max-width: 100%;
    width: 40%;
    height: 100%;
    border-radius: 12px;
    background-color: var(--primary-color);
}

.other-controls {
    display: flex;
    gap: 18px;
    align-items: center; 
    margin-top: 18px;
}

.other-controls > div:first-child {
    display: flex;
    padding: 6px 18px;
    background-color: rgb(40, 40, 40, .5);
    border-radius: 40px;
    align-items: center;
    gap: 12px;

    span {
        display: flex;
        cursor: pointer;
        font-size: .88rem;
        padding: 4px;
    }
}

.inactive-control {
    color: rgb(66, 66, 66);
}

.active-control {
    color: white;
}

.volume-controls {
    width: 120px;
    height: 2px;
    background-color: rgb(158, 158, 158, .2);
    border-radius: 12px;
}

.volume-controls  div:first-child {
    max-width: 100%;
    width: 72%;
    background-color: white;
    height: 100%;
    border-radius: 12px;
}