.navbar {
    width: 100%;
    padding: 28px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
}

.app:has(.dashboard) > .navbar {
    display: none;
}

.logo {
    font-weight: 700;
    color: var(--color);
    font-size: clamp(1rem, 1.4vw, 1.28rem);
}

.navbar-icon {
    cursor: pointer;
}

.dropmenu {
    width: 100%;
    height: 120px;
    background-color: rgb(114, 76, 114);
    position: fixed;
    left: 0;
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    display: none;
}
